
<div class="h-screen bg-gray-200 flex items-center justify-center">
  <div class="md:max-w-md bg-gray-100 shadow-lg p-8 rounded-lg">
    <h2 class="font-bold mb-6 text-gray-800 text-center text-2xl">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div  class="mb-4">
        <%= f.label :email, class: "block mb-2 text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full px-3 py-2 border rounded-lg" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-4">
        <%= f.label :password, class: "block mb-2 text-gray-700" %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full px-3 py-2 border rounded-lg" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: "block mb-2 text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full px-3 py-2 border rounded-lg" %>
      </div>

      <div class="mb-4">
        <%= f.label :current_password, class: "block mb-2 text-gray-700" %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full px-3 py-2 border rounded-lg" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "cursor-pointer w-full bg-orange-600 px-4 py-2 text-white font-semibold rounded-lg shadow-md hover:bg-orange-700" %>
      </div>
    <% end %>

    <h3 class="text-center">Cancel my account</h3>

    <div class="text-center">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
      data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
    </div>

    <div class="text-center">
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>

