<div class="bg-gray-300 mt-6 p-2 mx-auto size-fit">
  <table>
    <tr>
      <td class="p-4 w-2xl border border-gray-800">
        <p class="text-xl"> Daily ToDo</p>
        <%= calendar(number_of_days: 7, events: @tasks, attribute: :due_date) do |date,tasks| %>
          <%= date %>
          <% tasks.each do |task| %>
            <div class="p-1 border-1 text-xs">
              <%= link_to task.name, project_path(task.project) %>
            </div>
          <% end %>
        <% end %>
      </td>
      <td class="p-4 w-2xl border border-gray-800">
        <p class="text-xl"> Monthly ToDo</p>
        <%= month_calendar do |date| %>
          <%= date %>
          <% tasks = @tasks.where(due_date: date) %>
          <% tasks.each do |task| %>
            <div class="p-1 border-1 text-xs">
              <%= link_to task.name, project_path(task.project) %>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
