
<div class="px-8 py-4 bg-gray-200 h-screen">
  <%= render "navbar" %>
  <main class="grid md:flex items-center justify-around relative">
    <section class="md:basis-1/2">
      <div class="hidden w-1/2 lg:flex justify-between absolute top-0">
        <%= inline_svg_tag("print.svg", class: "size-40") %>
        <%= inline_svg_tag("sign.svg", class: "size-40") %>
      </div>
      <h2 class="font-bold text-4xl capitalize mb-4">Manage your project.</h2>
      <p class="mb-6 text-2xl">This is a demo app for managing projects and tasks.</p>
      <p class="mb-8 text-1xl">Its not confidence that holds most people back, its familiarity.</p>
      <a href="/dashboard" class="bg-orange-600 p-2 rounded-md capitalize font-bold text-gray-200 hover:bg-orange-800 flex justify-center items-center">Get Started
        <span>
          <%= inline_svg_tag("forward.svg", class: "size-10")%>
        </span>
      </a>
      <div class="hidden w-1/2 lg:flex justify-between absolute bottom-0">
        <%= inline_svg_tag("star.svg", class: "size-40") %>
        <%= inline_svg_tag("flash.svg", class: "size-40") %>
      </div>
    </section>
    <div class="md:basis-1/2">
      <%= image_tag('hero.png', class: "mt-8") %>
    </div>
  </main>
</div>
