<div class="text-gray-200 p-4 w-full">
  <%= render "add_project_form"%>
  <div class="w-full mt-4">
    <table class="bg-gray-800 rounded-md w-full">
      <thead class="text-left capitalize rounded-md border-b border-gray-500">
        <tr>
          <th class="px-4 py-3"> Project</th>
          <th class="px-4 py-3"> Status</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr class="border-b border-gray-500 capitalize">
          <td class="px-4 py-3"><%= project.name%></td>
          <td class="px-4 py-3"> 80%</td>
          <td class="py-3">
            <%= link_to edit_project_path(project), data: { turbo: true, turbo_frame: :modal } do%>
              <%= inline_svg_tag("edit.svg")%>
            <% end%>
          </td>
          <td class="py-3">
            <%= link_to project_path(project) do%>
              <%= inline_svg_tag("view.svg")%>
            <% end%>
          </td>
          <td class="py-3">
            <%= button_to project_path(project), method: :delete, data: {turbo_confirm:("Are you sure?")}, class: "hover:cursor-pointer" do%>
              <%= inline_svg_tag("delete.svg")%>
            <% end%>
          </td>
        </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>
