<div class="text-gray-200 p-4 w-full">
  <%= render "add_project_form"%>
  <div class="w-full mt-4">
    <table class="bg-gray-800 rounded-md w-full">
      <thead class="text-left capitalize rounded-md border-b border-gray-500">
        <tr>
          <th class="px-4 py-3"> Project</th>
          <th class="px-4 py-3"> Status</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr class="border-b border-gray-500 capitalize">
          <td class="px-4 py-3"><%= project.name%></td>
          <td class="px-4 py-3"> 80%</td>
          <td class="py-3"><%= inline_svg_tag("edit.svg")%></td>
          <td class="py-3"><%= inline_svg_tag("view.svg")%></td>
          <td class="py-3"><%= inline_svg_tag("delete.svg")%></td>
        </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>
